<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | ITBANK Portfolio de Proyecto</title>
    {% load static %}
    

  <body>

    <h1>Bienvenido a mi sitio web de Prueba</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">Quienes somos</a></li>
      <li><a href="/portfolio/">Proyectos</a></li>
      <li><a href="/contact/">Contacto</a></li>
    </ul>

{% block content %}
{% endblock %}
</body>
</html>