{% extends "prueba/base.html" %}

{% load static %}

{% block title %} ITBANK Gestion de Proyectos - Inicio {% endblock %}

{% block background %}{% static 'prueba/img/home-bg.jpg' %} {% endblock %}

{% block headers %}

<h1> Sitio de gestion de Proyectos </h1>
<span class="subheading">Bienvenido a la pagina de gestion de proyectos</span>
{% endblock %}
{% block content %}
<p>Has visitado esta pagina {{num_visits}}
    {% if num_visits == 1 %}
    vez
{% else %}
veces
{% endif %}
</p>
{% endblock %}